body {
  color: rgb(58, 58, 58);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin: 0;
}

.banner {
  background-image: url(https://images.unsplash.com/photo-1715151696799-88b7d3b9a25c?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  padding: 100px 0px;
  color: antiquewhite;
}

.banner h1 {
  font-size: 50px;
}

.banner p {
  font-size: 30px;
  font-style: italic;
  opacity: 0.9;
}

.container {
  width: 800px;
  margin: 50px auto;
}


a {
  text-decoration: none;
  margin-top: 10px;
}

.btn-gradient {
  background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
  padding: 10px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn-gradient:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}

/* Media queries */
@media(max-width: 1200px) {
  .container {
    width: 900px;
  }
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 768px) {
  .container {
    width: 500px;
  }
}

@media(max-width: 576px) {
  .container {
    width: 300px;
  }
}
